.mwp-bootstrap-form {
	margin: 25px 10px;
	padding: 15px;
	background-color: #fff;
	border: 1px solid #ddd;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 2px 2px 10px #ddd;
	-webkit-box-shadow: 2px 2px 10px #ddd;
	box-shadow: 2px 2px 10px #ddd;
}

.mwp-bootstrap-form .form-heading {
	font-size: 1.3em;
	padding: 20px;
	background-color: #eee;
	border-bottom: 1px solid #ddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 20px;
}

.mwp-bootstrap-form .tab-content {
	padding: 25px 15px;
}

.mwp-bootstrap-form .mwp-form-tabs {
	margin-bottom: 20px;
}

.mwp-bootstrap-form ul.form-errors {
	background-color: #f2dede;
	padding: 10px;
	margin-top: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #f2bbbb;
}

.mwp-bootstrap-form .field-description {
	margin: 5px 0 10px 0;
}

.mwp-bootstrap-form .form-group > label.form-label {
	font-size: 1.25em;
	line-height: 1.4em;
	text-align: right;
	font-weight: normal;
	padding: 6px;
}

.mwp-bootstrap-form .nav-tabs > li.active > a,
.mwp-bootstrap-form .nav-tabs > li.active > a:hover {
	border-top: 2px solid #286090;
}

.mwp-bootstrap-form .nav-tabs > li.active > a:focus {
	border-top: 2px solid #286090;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.mwp-form .ui-sortable-helper,
.wp-list-table .ui-sortable-helper {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.mwp-form tr.ui-sortable-helper,
.wp-list-table tr.ui-sortable-helper {
	display: table;
}

.mwp-form .ui-sortable-handle,
.wp-list-table .ui-sortable-handle {
	cursor: grab;
}

.mwp-form .ui-sortable-helper.ui-sortable-handle,
.wp-list-table .ui-sortable-helper.ui-sortable-handle,
.mwp-form .ui-sortable-helper .ui-sortable-handle,
.wp-list-table .ui-sortable-helper .ui-sortable-handle {
	cursor: grabbing;
}

.mwp-form .mwp-sortable-placeholder,
.wp-list-table .mwp-sortable-placeholder {
	background-color: transparent !important;
	background-image: repeating-linear-gradient(45deg,
      rgba(0,0,0,0.1) 0px, 
      rgba(0,0,0,0.1) 5px, 
      transparent 5px, 
      transparent 10px);
}

.mwp-form .mwp-sortable-placeholder td,
.wp-list-table .mwp-sortable-placeholder td {
	padding: 20px 0 !important;
}

.mwp-bootstrap-form button[data-role="add-entry"] {
	margin: 20px;
}

.mwp-bootstrap-form [data-role="collection-entry"] {
	padding: 10px;
	margin: 5px;
	border-bottom: 2px dashed #ddd;
	position: relative;
}

.mwp-bootstrap-form [data-role="collection-entry"].orderable {
	cursor: grab;
}

.mwp-bootstrap-form [data-role="collection-entry"].orderable:before {
	position: absolute;
	top: 50%;
	color: #ddd;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	font-size: 15px;
	margin-top:-8px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e236";
}

.mwp-form .widefat td, .mwp-form .widefat th {
	padding: 8px 10px;
}

.wp-list-table .column-_row_actions {
	text-align: right;
	overflow: visible !important;
}

/* Wrapped Output */

.wrap.management.records {
	margin-top: 40px;
}

.wrap.management.records > h1 {
	margin: -27px 0 15px 0px;
	font-size: 2em;
}

.wrap.management.records.edit > h1,
.wrap.management.records.create > h1,
.wrap.management.records.delete > h1 {
	/*margin: 15px 10px;*/
	font-size: 2em;
}

.wrap.management.records .tablenav {
	height: auto;
}

/* Bootstrap Tweaks */
.mwp-bootstrap .wp-list-table .btn-group {
	display: flex;
}

.wp-list-table .column-_row_actions .btn-group {
	float: right;
}

.mwp-bootstrap .popover > .arrow {
	margin-left: 0;
	overflow: visible;
}

.mwp-bootstrap .popover > .arrow:after {
	background-color: inherit;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	top: auto;
	transform: none;
	-moz-transform: none;
	-webkit-transform; none;
	
}

